/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/*&led0 {
	gpios = <&hpf_gpio 9 GPIO_ACTIVE_HIGH>;
};*/


/*&led0 {
	gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
};

&button0 {
	gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;;
};*/

/*&led0 {
	gpios = <&hpf_gpio 13 GPIO_ACTIVE_HIGH>;
};*/